.blog-section {
    padding: 5rem 1rem;
}

.blog-title-heading {
    text-align: center;
    font-size: 4rem;
}

.blog-anchor-link {
    color: blue;
}

.blog-image-full-width {
    width: 90%;
    border: 1px solid #ccc;
}

/* note boxes css start */
.noteBoxes
{
	border: 1px solid;
  	border-radius: 5px;
	padding: 10px;
	margin: 8rem auto;
	width: 80%;
}

.type1
{
	border-color: #E76F51;
	background-color: rgba(231, 111, 81, 0.1); 
}

.type2
{
	border-color: #2A9D8F;
	background-color: rgba(42, 157, 143, 0.1); 
}

.type3
{
	border-color: #0096C7;
	background-color: rgba(0, 150, 199, 0.1); 
}

.type4
{
	border-color: #00B353;
	background-color: rgba(0, 179, 83, 0.1); 
}

.tip-bookmark   
{
	width: 1.8rem; 
	padding-right: 0.5rem;
}


/* noteBoxes css end */

@media (max-width: 980px) {
    .noteBoxes{
        width: 100%;
    }
}